body{
}
section{
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.sale-courses{
    background-color: antiquewhite;
    color: #333;
}

.teachers{
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    color: aliceblue;
}

.hero{
    color: #000;
    background: url('../img/banner.webp') no-repeat center;
    h2{
        color: #333;
    }
}